<html layout:decorate="~{menulayout}" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.springframework.org/security/tags">

<head></head>

<body>


	<div layout:fragment="content">

		<h2>
			<span th:text=${tablemodel.targetName}></span>
			<span style="float: right;">
				<a th:if="!${edit}" th:href="@{${tablemodel.getNewLink().getTarget()}}" class="button detailButton">Hinzufügen</a>
			</span>
		</h2>
		<table class="entitytable" th:fragment="entityTable">
			<thead>
				<tr>
					<th th:text="ID"></th>
					<th th:each="column : ${tablemodel.attributes}" th:utext="${column.displayName}"></th>
				</tr>
			</thead>
			<tbody>
				<tr th:each="entity : ${tablemodel.objects}">
					<td th:utext="${tablemodel.idAttribute.getHTMLValue(entity)}"></td>
					<td th:each="column : ${tablemodel.attributes}" th:utext="${column.getHTMLValue(entity)}"></td>
				</tr>
			</tbody>
		</table>


	</div>

</body>
</html>