<!DOCTYPE html>
<html layout:decorate="~{menulayout}" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.springframework.org/security/tags">
<head>
<meta charset="UTF-8">

<title>Home</title>
</head>
<body>
	<div layout:fragment="content">
		<h2>Startseite</h2>
		<div>
			<table class="entitytable">
				<thead>
					<tr>
						<th>Entity</th>
						<th>Anzahl</th>
					</tr>
				</thead>
				<tbody>
					<tr th:each="entity : ${entityinfos}">
						<td th:text="${entity.classname}"></td>
						<td th:text="${entity.entitycount}"></td>
					</tr>
				</tbody>
			</table>
		</div>
	</div>
</body>
</html>