<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.springframework.org/security/tags">
<head>
<meta charset="UTF-8">

<link rel="stylesheet" type="text/css" th:href="@{/css/normalize.css}">
<link rel="stylesheet" type="text/less" th:href="@{/css/style.less}">



<script th:src="@{/js/less.min.js}"></script>
<script th:src="@{/js/jquery-3.1.1.min.js}"></script>
<script th:src="@{/js/jssuche.js}"></script>

<title>Student</title>
</head>
<body>

	<div class="wrapper">

		<header class="header">
			<h1>Uniproject</h1>
		</header>

		<div class="pagefiller">
			<div class=menuflex>
				<div class="menu">
					<h2>Menu</h2>
					<a th:href="@{/}">Home</a> <a th:href="@{/student}">Studenten</a> <a th:href="@{/vorlesung}">Vorlesungen</a> <a th:href="@{/dozent}">Dozenten</a> <a th:href="@{/person}">Personen</a>
				</div>

				<div class="main" layout:fragment="content"></div>
			</div>
		</div>

		<footer class="footer">
			<h1>Footer</h1>
		</footer>

	</div>

</body>
</html>