<!DOCTYPE html>
<html layout:decorate="~{menulayout}" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.springframework.org/security/tags">
<head>
<meta charset="UTF-8">

<title>Vorlesung</title>
</head>
<body>
	<div layout:fragment="content">

		<form th:object="${vorlesung}" th:action="@{/vorlesung/edit}" th:method="${edit ? 'post' : 'get'}">
			<div>
				<h2>Allgemeine Informationen</h2>

				<input hidden="hidden" th:field="*{id}">
				<table class="detailtable">
					<tr>
						<td>Id</td>
						<td th:text="*{id}"></td>
					</tr>
					<tr>
						<td>Name</td>
						<td th:if="${edit}">
							<input th:field="*{name}">
						</td>
						<td th:if="${!edit}" th:text="*{name}"></td>
					</tr>
					<tr>
						<td>Dozent</td>
						<td th:if="${edit}">
							<select th:field="*{dozent}">
								<option th:each="dozent : ${allDozenten}" th:value="${dozent.id}" th:text="${dozent.name}"></option>
							</select>
						</td>
						<td th:if="${!edit}" th:text="*{dozent.name}"></td>
					</tr>
					<tr>
						<td th:if="${edit}">
							<button style="width: 100%;" name="action" value="abort">Abbrechen</button>
						</td>
						<td th:if="${!edit}">
							<button style="width: 100%;" name="action" value="delete">Löschen</button>
						</td>
						<td th:if="${edit}">
							<button style="width: 100%;" name="action" value="save">Speichern</button>
						</td>
						<td th:if="${!edit}">
							<button style="width: 100%;">Bearbeiten</button>
						</td>
					</tr>
				</table>
			</div>

			<div>
				<h2>Studenten</h2>
				<div th:if=${edit}>
					<input th:each="student : ${allStudenten}" th:field="*{studenten}" th:text="${student.name}" th:value="${student.id}" type="checkbox">
				</div>
				<div th:if=${!edit}>
					<div th:replace="studenten :: tbl_studenten(studenten = ${vorlesung.studenten})"></div>
				</div>
			</div>

		</form>

	</div>
</body>
</html>